<section class="main-section">
    <div class="logo">
        <img src="/assets/nut.png" alt="logo" class="main-logo">
        <h2 class="website">HOSTAR</h2>
    </div>
    <div class="options">
        <ul>
            <li routerLink="/">Home</li>
            <li>About</li>
            <li>Hosting</li>
            <li>Pages</li>
            <li>Shop</li>
            <li>Blog</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="toggle">
        <a class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
    </div>

    <div class="cart">
        <img src="/assets/cart.png" alt="cart" class="cart-logo">
        <img src="/assets/search.png" alt="search" class="search">
    </div>
</section>