<section class="main-section">
    <div class="upper-section">
        <div class="main-content">
            <div class="head">
                <h1 class="heading">Fast & Secure best web hosting</h1>
                <p class="heading-2">Extremely fast & secure website hosting wordpress Theme. We offer Best Web Hosting & Domain.</p>
                <div class="buttons">
                    <button type="submit" class="start">Get Started</button>
                    <button type="submit" class="login" routerLink="/login">Login</button>
                </div>
            </div>
            <div class="images">
                <img src="/assets/business.png" alt="devices" class="device">
            </div>
        </div>
    </div>
    <div class="lower-section">
        <div class="domain-part">
            <div class="searchpart">
                <input type="text" name="" id="text" placeholder="Enter Your Domain Name">
                <button type="submit" class="search">Search Domain</button>
            </div>
            <div class="pricing">
                <span class="price"><p>.com</p>{{com}}</span>
                <span class="price"><p>.org</p>{{org}}</span>
                <span class="price"><p>.net</p>{{net}}</span>
                <span class="price"><p>.co</p>{{co}}</span>
                <span class="price"><p>.info</p>{{info}}</span>
                <span class="price"><p>.xyz</p>{{xyz}}</span>
            </div>
        </div>
        <div class="features">
            <div class="loading">
                <div class="image">
                    <img src="/assets/rocket.png" alt="fast">
                </div>
                <h2 class="features-heading">Faster Loading Speed</h2>
                <p class="features-para">Getting your website live is as simple as a click of a button. Everything you need - provided in a clear way.</p>
            </div>
            <div class="guarantee">
                <div class="image">
                    <img src="/assets/badge.png" alt="Guarantee">
                </div>
                <h2 class="features-heading">99% Uptime Guarantee</h2>
                <p class="features-para">Getting your website live is as simple as a click of a button. Everything you need - provided in a clear way.</p>
            </div>
            <div class="support">
                <div class="image">
                    <img src="/assets/call-center-agent.png" alt="Customer Support">
                </div>
                <h2 class="features-heading">24/7 Customer Support</h2>
                <p class="features-para">Getting your website live is as simple as a click of a button. Everything you need - provided in a clear way.</p>
            </div>
        </div>
    </div>
</section>